body {
  background-image: url(images/background2.jpg);
}

.seat-chart {
  width: 100%;
  margin: 0 auto;

}

.available {
  background-image: url(availableSeat.png);
  background-repeat: no-repeat;
  background-size: 75%;
  width: 14%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
  }

.reserved {
  background-image: url(reservedSeat.png);
  background-repeat: no-repeat;
  background-size: 75%;
  width: 14%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
  }

h1 {
  font-family: Quicksand; Time;
  text-align: center;
  color: #E8E8E8;
}

p {
  text-align: center;
   color: #E8E8E8;
}
.row {
  margin: auto;
  width: 100%;
}
