body {
  background-image: url(images/background2.jpg);
}

.seat-chart {
  width: 90%;
  margin: 0 auto;

}

.available {
  background-color: green;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
  border-radius: 3%;
}

.reserved {
  background-color: red;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
  border-radius: 3%;
}

h1 {
  font-family: Quicksand; Time;
  text-align: center;
  color: #E8E8E8;
}

p {
  text-align: center;
   color: #E8E8E8;
}
